body{
    background-color: white;
}
.hidden{
    visibility: hidden;
}

.exercice{
    text-align: center;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

button{
    float:right;
}

button{

}